.navbar {
  margin-bottom: 0px;
}

/* .carousel-caption {
  margin-top: 0px;
  color: black;
  font-size: 24px;
} */

.mainintro {
  background-color: #F1C40F;
  font-size: 12px;
}

h1.b {
  font-style: italic;
}

h1.a, h1.b {
  font-size: 24px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

a {
  color: black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 18px;
}

.intro {
  margin: auto;
  padding: 40px;
  font-size: 14px;
  text-align: center;
}

body {
  overflow-x: hidden;
}

.firsthalf {
  margin-bottom: 20px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F1C40F;
  color: black;
  text-align: center;
  padding: 40px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
